{% extends 'base.html.twig' %}

{% block title %}Hello MyServiceController!{% endblock %}

{% block body %}
    <div class="container">
        {{ test }}
        {{ booking.name }}
    </div>
{% endblock %}
